<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="/css/indexcss.css" rel="stylesheet">
    
</head>
<body>

    <section class="wrapper">
        <div class="container-fostrap">
            <div>
                <img src="https://cdn-icons-png.flaticon.com/512/201/201556.png" class="book-logo"/>
                <h1 class="heading">
                    Book Directory
                </h1>
            </div>
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 ">
                            <div class="card">
                                <a class="img-card" href="/signup">
                                <img src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-3/256/signup-icon.png" />
                              </a>
                                <div class="card-content">
                                    <h4 class="card-title">
                                        <a href="/signup"> Sign Up Here!
                                      </a>
                                    </h4>
                                    <p class="">
                                        Signup if you are a new user and you want to access the book directory.
                                    </p>
                                </div>
                                <div class="card-read-more">
                                    <a href="/signup" class="btn btn-link btn-block">
                                        Signup
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 ">
                            <div class="card">
                                <a class="img-card" href="/login">
                                <img src="https://img.freepik.com/free-vector/login-concept-illustration_114360-739.jpg" />
                              </a>
                                <div class="card-content">
                                    <h4 class="card-title">
                                        <a href="/login"> Log In Here!
                                      </a>
                                    </h4>
                                    <p class="">
                                        LogIn if you are an old user and wants to manage the book directory.
                                    </p>
                                </div>
                                <div class="card-read-more">
                                    <a href="/login" class="btn btn-link btn-block">
                                        LogIn
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        Copyright @2024 Jaya
      </footer>
    
</body>
</html>